@model IEnumerable<AdvanceFields.Models.RqTranslate>

<div class="">
    <h1 class="text-center"><i class="fas fa-history"></i> Translation History</h1>

    <div class="table-responsive">
        <table class="table " id="translationTable">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Text</th>
                    <th>Translation</th>
                    <th>Date</th>
                    <th>
                        <a onclick="showInPopup('@Url.Action("AddOrEdit","Translation",null,null)','New Translation')" class="btn btn-success text-white">
                            <i class="fas fa-plus"></i> New Translation
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Text)</td>
                        <td>@Html.DisplayFor(modelItem => item.Translated)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreatedWhen)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
